<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomTen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NomTen</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar2">
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
            <li><a href="/">Sign In</a></li>
            <li><a href="/register">Sign Up</a></li>
            <% } else { %>
            <li><a href="/"><i class="fa fa-user" ></i> <%=currentUser.username%></a></li>
            <li>
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" ></i> Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% if (currentUser.facebook.token) { %>
                <% if (currentUser.local || currentUser.toObject().google) { %>
                <a href="/unlink/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Unlink Facebook</a>
                <% } else { %>
                <a href="/unlink/facebook" class="btn btn-primary disabled"><span class="fa fa-facebook"></span> Unlink Facebook</a>
                <% } %>
              <% } else { %>
              <a href="/link/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Connect Facebook</a>
              <% } %>
              <% if (currentUser.google.token) { %>
                <% if (currentUser.local || currentUser.toObject().facebook) { %>
                <a href="/unlink/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Unlink Google+</a>
                <% } else { %>
                <a href="/unlink/google" class="btn btn-danger disabled"><span class="fa fa-google-plus"></span> Unlink Google+</a>
                <% } %>
              <% } else { %>
              <a href="/link/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Connect Google+</a>
              <% } %>
              <% if (currentUser.local) { %>
              <a href="/update_password" class="btn btn-warning"> Change Password</a>
              <% } else { %>
              <a href="/update_password" class="btn btn-warning"> Update Password</a>
              <% } %>
            </div>
            </li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert" style="position: sticky; z-index: 100;" >
        <%- error %>
      </div>
      <% } %>
      <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert" style="position: sticky; z-index: 100;">
        <%- success %>
      </div>
      <% } %>
    </div>

    <div class="container" id="landing-header">
      <h1>Welcome to <span>NomTen</span>!</h1>
      <% if(!currentUser){ %>
      <div id="loginPosition" class="container col-sm-12">
        <form action="/login" method="POST" class="form-group">
          <div class="form-inline" id=login>
            <input type="text" name="username" placeholder="email" class="from-control input-sm">
            <input type="password" name="password" placeholder="password" class="from-control input-sm">
            <input type="submit" value="Login" class="btn btn-default btn-sm">
          </div>
          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Login with Google+</a>
          <a id=reset href="/forgot" class="btn btn-warning btn-sm">Forgot Password?</a>
      </form>
      </div>
      <% } else { %>
      <a id="showPofile" class="btn btn-lg" href="/users/<%=currentUser.username%>">View Fridge</a>
      <% } %>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>