body{
  background-color: #000;
}

#login input{
  margin: 3px;
}

#landing-header {
  position: absolute;
  z-index: 1;
  text-align: center;
  width : 800px;
  top:45%;
  margin-left: -406px;
  left: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #landing-header{
    top: 35%;
    width: 180px;
    margin-left: -106px;
    left: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  #landing-header {
    width: 400px;
    padding: 10px;
    border-width: 2px;
    /* -(400 + 10 + 2)/2 = -206 */
    margin-left: -206px;
    left: 50%;
  }
}

#landing-header h1 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 2%;
}

#landing-header h1 span{
  font-family: Pacifico, sans-serif
}

.navbar{
  z-index: 1;
}

#reset{
  color: white;
  left:50%;

}

#loginPosition{
  position:absolute;
  text-align: center;
}

#loginPosition form div input .form-control .input-sm{
  margin: 10%;
  background: blue;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url("/img/jumbo2.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("/img/Indian-Food-img.jpg");
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url("/img/jumbo3.jpg");
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url("/img/jumbo2.jpg");
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url("/img/Indian-Food-img.jpg");
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
