.navbar{
  background: #ffb366;
  font-family: Roboto, sans-serif;
  color:white;
}

.navbar-default .navbar-nav li a{
  color: white;
}

.navbar-default .container-fluid .navbar-brand{
  color: white;
  font-family: Pacifico, sans-serif;
}

#showPofile{
opacity: 0.8;
background: #ffb366;
color: white;
}

footer{
   margin-top: 60px;
   height: 40px;
   font-size: 1em;
   position: relative;
   padding: 8px;
   left: 0;
   bottom: 0;
   width: 100%;
   overflow: hidden;
   background-color: #ffb366;
   color: white;
   text-align: center;
   font-family: Pacifico, sans-serif;
}
